body{
    background-color: #F9DBB8;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.espace{
  margin-top: 45px;
}

.affichageplat{

  width : 30%;
  margin-top:5%;
  margin-left:35%;
}

.typeplat{
    margin-top: 45px;
    margin-bottom: 25px;

    text-align: center;
    font-size:100px;
    color:#4DB881;
    font-family: Chalkduster;
    font-style:italic;

}

.nomplat img{
  width:2.5%;
}

.nomplat{
    text-align:center;
    font-family: Optimax;
    font-weight : bold;
    font-size:40px;
    position: relative;
    left: auto;

    margin-bottom:10px;

  color:#4F483E;
}